[Unit]
Description=kezio-agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kezio-agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
